/**
 *
 * Apply Here your Custom CSS
 *
*/

body.page-body.login-page.login-form-fall {
    background: none;
	background-image: url('../images/1.jpg');
}

.logovoiz img {
    width: auto;
    margin: 0 auto;
}

/*Eye Icon on Reporting*/
span.glyphicon.glyphicon-eye-open {
    width: auto;
}

.neo-modal-issabel-popup-box { 
    display: none;
}


/*PBX Menu Font Size*/
#nav ul li a { 
	font-size: 12px;
}

/*Addons*/
.neo-addons-row {
    direction: ltr;
}

/*Operator Pannel*/
.pbxelement{
	text-align: right !important;
	height: 36px !important;
    line-height: 180% !important;
    text-align-last: right !important;	
}