/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2017, 10:41:22 AM
    Author     : Mali
*/
.page-container.sidebar-collapsed {
  padding-right: 65px !important;
}
.page-container {
    padding-right :280px !important;
}
.page-container .sidebar-menu{
    right:0 !important;
}


