body a {
  color: #303641;
}
body .profile-info.dropdown .dropdown-menu {
  background: #303641;
  border-color: #303641;
}
body .profile-info.dropdown .dropdown-menu > li {
  border-bottom-color: transparent;
}
body .profile-info.dropdown .dropdown-menu li a {
  color: #e6e0f0;
}
body .profile-info.dropdown .dropdown-menu li a:hover {
  background: #1DA1F2;
}
body .profile-info.dropdown.pull-right .dropdown-menu {
  background-color: #303641;
  border-color: #454a54;
  padding: 0;
  margin-top: 15px;
  text-align: left;
}

body .page-container .sidebar-menu {
  background: #7f59b0;
  color: #562d7b;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li#search .search-input {
  background-color: #4a276a !important;
  border-color: #643590 !important;
}
body .page-container .sidebar-menu #main-menu li#search {
  background-color: #303030;
}
body .page-container .sidebar-menu #main-menu li ul {
  border-color:#393939;
}
body .page-container .sidebar-menu #main-menu li.has-sub ul li {
  border-color: #393939;
  border-right:5px solid #fcb424;
}
body .page-container .sidebar-menu #main-menu li.has-sub ul li ul li{border-right:none}
body .page-container .sidebar-menu #main-menu li ul > li > a {
  background-color:#303030;
}
.page-container .sidebar-menu #main-menu li ul > li ul > li > a{
    background-color:#fcb424;
}
/*VOIPIRAN-Menu Active Font Color*/
body .page-container .sidebar-menu #main-menu li.active > a {
  color: #303030;
}
body .page-container .sidebar-menu #main-menu li ul li.active > a{
  background-color:#303030;
}
body .page-container .sidebar-menu #main-menu li ul > li > a , body .page-container .sidebar-menu #main-menu li ul li ul li a {
  padding:5px 20px;
  color: #e9e9e9;
}
/*body .page-container .sidebar-menu #main-menu li ul li ul li a {
  padding:6px 80px 6px 6px;

}*/
#main-menu li.opened i{color:#fff;}
body .page-container .sidebar-menu #main-menu li ul > li > a:hover{
    color:#fff; 
    background-color:#7f59b0;
}

body .page-container .sidebar-menu .sidebar-user-info {
  border-color: #643590;
}
body .page-container .sidebar-menu .sidebar-user-info .sui-hover {
  background-color: #303641;
}
body .page-container .sidebar-menu #main-menu li {
  border-bottom:1px solid #2e2e2e;
}
body .page-container .sidebar-menu #main-menu li:hover {
    background-color:#303030;
}
/*VOIPIRAN-Menu Font Color*/
body .page-container .sidebar-menu #main-menu li a {
  color: #e5e4e7;
}
body .page-container .sidebar-menu #main-menu li a:hover {
      background-color: rgba(69, 74, 84, 0.3);
    color: #e5e4e7;
}
.page-container .sidebar-menu #main-menu li ul li a{padding:2px 10px;}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li > ul li {
/*  border-color: #643590;*/
}
body .page-container .sidebar-menu #main-menu li ul > li ul > li > a {
/*  background-color: #011A60;*/
}
body .page-container .sidebar-menu #main-menu li ul > li ul > li ul > li > a {
  background-color: #42225e;
}
body .page-container .sidebar-menu #main-menu li ul > li ul > li ul > li ul > li > a {
  background-color: #42225e;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li > a > span:not(.badge) {
  background: #303641;
  border-color: #2e2e2e;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li ul {
  border-color: #2e2e2e;
}
body .profile-info.dropdown .dropdown-menu > .caret {
  border-bottom-color: #303641;
}
body #chat {
  background: #303641;
}
body #chat .chat-header {
  color: #FFF;
  border-bottom: 1px solid #2e2e2e;
}
body #chat .chat-group > a:hover,
body #chat .chat-group > a.active {
  background: #643590;
}
body #chat .chat-group > strong {
  color: rgba(255, 255, 255, 0.4);
}
body #chat .chat-conversation {
  background: #42225e;
}
body #chat .chat-conversation .conversation-body > li.odd,
body #chat .chat-conversation .conversation-body > li.even,
body #chat .chat-conversation .conversation-body > li.opponent {
  background: #4a276a;
}
body #chat .chat-conversation .conversation-header {
  border-color: #2e2e2e;
}
body #chat .chat-conversation .chat-textarea textarea {
  background: #4a276a;
  box-shadow: none;
  border-color: #4a276a;
}
body #chat .chat-group > a:before {
  border-color: transparent transparent transparent #42225e;
}
body.login-page .login-form .form-group .input-group {
  border-color: #2e2e2e;
}
body.login-page {
  background: #4a276a;
  color: rgba(255, 255, 255, 0.5);
}
body.login-page .login-form .form-group .input-group .form-control::-webkit-input-placeholder {
  color: #e6e0f0;
}
body.login-page .login-form .form-group .input-group .form-control:-moz-placeholder {
  color: #e6e0f0;
}
body.login-page .login-form .form-group .input-group .form-control::-moz-placeholder {
  color: #e6e0f0;
}
body.login-page .login-form .form-group .input-group .form-control:-ms-input-placeholder {
  color: #e6e0f0;
}
body.login-page .login-form .form-group .input-group {
  background: #303641;
  border-color: #643590;
}
body.login-page .login-form .form-group .input-group.focused {
  border-color: #713ca3;
}
body.login-page .login-form .form-group .input-group .input-group-addon:after {
  background: #643590;
}
body.login-page .login-form .form-group .btn-login {
  background: #4a276a;
  border-color: #643590;
}
body.login-page .login-form .form-group .btn-login:hover {
  background: #303641;
}
body .login-container .login-header {
  background-color: #303641;
}
body .login-container .login-header.login-caret:after {
  border-top-color: #303641;
}
body.login-page.logging-in .login-progressbar {
  background: #713ba3;
  height: 2px;
}
body.login-page.logging-in .login-progressbar div {
  background: #f94399;
}
body .tile-primary {
  background: #303641;
}
body .tile-primary .tile-entry {
  border-color: #643590;
}
body .tile-primary .title {
  background: #452463;
}
body .tile-white-primary .num,
body .tile-white-primary h3,
body .tile-white-primary p {
  color: #643590;
}
body .btn-primary {
  background: #303641;
  border-color: #303641;
}
body .panel-invert {
  background: #303641;
}
body .navbar-inverse {
  border-color: #303641;
  background: #303641;
}
body .navbar-inverse .navbar-nav > li > a {
  color: #e6e0f0;
}
body .navbar-inverse .navbar-nav > .open > a,
body .navbar-inverse .navbar-nav > .open > a:hover,
body .navbar-inverse .navbar-nav > .open > a:focus {
  background: #4a276a;
}
body .navbar-inverse .navbar-nav > .active > a,
body .navbar-inverse .navbar-nav > .active > a:hover,
body .navbar-inverse .navbar-nav > .active > a:focus {
  background: #4a276a;
}
body .badge.badge-primary,
body .label-primary {
  background-color: #303641;
}
body .badge.badge-secondary,
body .label-secondary {
  background-color: #f94399;
}
body .pagination > .active > a,
body .pagination > .active > span,
body .pagination > .active > a:hover,
body .pagination > .active > span:hover,
body .pagination > .active > a:focus,
body .pagination > .active > span:focus {
  border-color: #303641;
  background: #303641;
}
body div.datepicker table tr td.active,
body div.datepicker table tr td.active:hover,
body div.datepicker table tr td.active.disabled,
body div.datepicker table tr td.active.disabled:hover {
  background-color: #303641;
}
body.login-page .login-form .form-group.lockscreen-input .lockscreen-thumb img {
  border-color: #4a276a;
}
body.login-page .login-content a {
  color: #e6e0f0;
}
body .input-group-addon {
  color: #e6e0f0;
}
body.page-left-in,
body.page-right-in,
body.page-fade-only,
body.page-fade {
  background: #303641 !important;
}
body .page-container .sidebar-menu #main-menu li#search button i {
  color: #e6e0f0;
}
body .btn-primary.btn-icon i {
  background-color: rgba(0, 0, 0, 0.2);
}
body .btn-primary:hover,
body .btn-primary:focus,
body .btn-primary:active,
body .btn-primary.active,
body .open .dropdown-toggle.btn-primary {
  background: #42225e;
  border-color: #42225e;
}
body .tile-block .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #303641;
}
body .page-container.horizontal-menu header.navbar {
  background: #303641;
}
body .page-container.horizontal-menu.with-sidebar header.navbar {
  border-color: #643590;
}
body .page-container.horizontal-menu.with-sidebar .sidebar-user-info {
  border-color: #643590;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li > a {
  border-right-color: #5b3083;
  color: #e6e0f0;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li.active > a {
  background: #4a276a;
}
body .page-container.horizontal-menu header.navbar .navbar-nav {
  border-left-color: #5b3083;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li#search {
  border-right-color: #5b3083;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li:hover > a {
  background: #4a276a;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul {
  background: #303641;
}
body .page-container.horizontal-menu header.navbar ul.nav > li.dropdown.open {
  background: #4a276a;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li a {
  border-color: #643590;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li:hover > a {
  background: #4a276a;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li.active > a {
  background: #4a276a;
}
body .page-container.horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input,
body .page-container.horizontal-menu header.navbar > ul > li#search .search-input {
  background: #4a276a;
  border-color: #643590;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li#search.search-input-collapsed:hover {
  border-color: #643590;
  background: #4a276a;
}
body .page-container.horizontal-menu header.navbar ul.nav > li.sep {
  border-color: #643590;
}
body .page-container.horizontal-menu header.navbar ul.nav > li > a,
body .page-container.horizontal-menu header.navbar ul.nav > li > span {
  color: #e6e0f0;
}
body .entypo-menu {
  color: #e6e0f0;
}
body .page-container .sidebar-menu #main-menu li#search .search-input {
  color: #e6e0f0;
}
body .page-container .sidebar-menu #main-menu li#search .search-input::-webkit-input-placeholder {
  color: #e6e0f0;
}
body .page-container .sidebar-menu #main-menu li#search .search-input:-moz-placeholder {
  color: #e6e0f0;
}
body .page-container .sidebar-menu #main-menu li#search .search-input::-moz-placeholder {
  color: #e6e0f0;
}
body .page-container .sidebar-menu #main-menu li#search .search-input:-ms-input-placeholder {
  color: #e6e0f0;
}
body #chat .chat-group > a {
  color: #e6e0f0;
}
body .conversation-body,
body #chat .entypo-cancel,
body #chat .chat-conversation .chat-textarea:after {
  color: #e6e0f0;
}
body #chat .chat-conversation .chat-textarea textarea::-webkit-input-placeholder {
  color: #e6e0f0;
}
body #chat .chat-conversation .chat-textarea textarea:-moz-placeholder {
  color: #e6e0f0;
}
body #chat .chat-conversation .chat-textarea textarea::-moz-placeholder {
  color: #e6e0f0;
}
body #chat .chat-conversation .chat-textarea textarea:-ms-input-placeholder {
  color: #e6e0f0;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li a {
  color: #e6e0f0;
}
body .page-container.horizontal-menu header.navbar .navbar-inner > ul > li#search button i,
body .page-container.horizontal-menu header.navbar > ul > li#search button i {
  color: #e6e0f0;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li.has-sub:hover.has-sub > a:hover,
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li:hover.has-sub > a:hover {
  color: #e6e0f0;
}
body .panel-invert > .panel-heading,
body .modal.invert .modal-dialog .modal-content .modal-header,
body .modal.invert .modal-dialog .modal-content .modal-footer {
  background: #303641;
  border-color: #643590;
}
body .panel-invert > .panel-body,
body .modal.invert .modal-dialog .modal-content {
  background: #303641;
  color: #e6e0f0;
}
body .modal.invert .modal-dialog .modal-content {
  border-color: #303641;
}
body .panel-invert {
  border-color: #303641;
}
body .panel-invert > .panel-heading > .panel-options > a.bg,
body .modal.invert .modal-dialog .modal-content .modal-header .close {
  background-color: #4a276a;
}
body .panel-invert > .panel-heading > .panel-options > a.bg:hover {
  background-color: #42225e;
}
body a.list-group-item.active,
body a.list-group-item.active:hover,
body a.list-group-item.active:focus {
  background-color: #303641;
  border-color: #303641;
}
body a.list-group-item.active .list-group-item-text,
body a.list-group-item.active:hover .list-group-item-text,
body a.list-group-item.active:focus .list-group-item-text {
  color: #e6e0f0;
}
body .popover.popover-primary {
  background-color: #303641;
  border-color: #303641;
}
body .popover.popover-primary .popover-title {
  background-color: #42225e;
  border-color: #42225e;
}
body .popover.popover-primary.top .arrow {
  border-top-color: #303641;
}
body .popover.popover-primary.top .arrow:after {
  border-top-color: #303641;
}
body .popover.popover-primary.right .arrow {
  border-right-color: #303641;
}
body .popover.popover-primary.right .arrow:after {
  border-right-color: #303641;
}
body .popover.popover-primary.bottom .arrow {
  border-bottom-color: #303641;
}
body .popover.popover-primary.bottom .arrow:after {
  border-bottom-color: #303641;
}
body .popover.popover-primary.left .arrow {
  border-left-color: #303641;
}
body .popover.popover-primary.left .arrow:after {
  border-left-color: #303641;
}
body .popover.popover-secondary {
  background-color: #f94399;
  border-color: #f94399;
}
body .popover.popover-secondary .popover-title {
  background-color: #f94399;
  border-color: #f94399;
}
body .popover.popover-secondary.top .arrow {
  border-top-color: #f94399;
}
body .popover.popover-secondary.top .arrow:after {
  border-top-color: #f94399;
}
body .popover.popover-secondary.right .arrow {
  border-right-color: #f94399;
}
body .popover.popover-secondary.right .arrow:after {
  border-right-color: #f94399;
}
body .popover.popover-secondary.bottom .arrow {
  border-bottom-color: #f94399;
}
body .popover.popover-secondary.bottom .arrow:after {
  border-bottom-color: #f94399;
}
body .popover.popover-secondary.left .arrow {
  border-left-color: #f94399;
}
body .popover.popover-secondary.left .arrow:after {
  border-left-color: #f94399;
}
body .tooltip.tooltip-primary .tooltip-inner {
  background-color: #303641;
  color: #e6e0f0;
}
body .tooltip.tooltip-primary.top .tooltip-arrow {
  border-top-color: #303641;
}
body .tooltip.tooltip-primary.top-left .tooltip-arrow {
  border-top-color: #303641;
}
body .tooltip.tooltip-primary.top-right .tooltip-arrow {
  border-top-color: #303641;
}
body .tooltip.tooltip-primary.right .tooltip-arrow {
  border-right-color: #303641;
}
body .tooltip.tooltip-primary.left .tooltip-arrow {
  border-left-color: #303641;
}
body .tooltip.tooltip-primary.bottom .tooltip-arrow {
  border-bottom-color: #303641;
}
body .tooltip.tooltip-primary.bottom-left .tooltip-arrow {
  border-bottom-color: #303641;
}
body .tooltip.tooltip-primary.bottom-right .tooltip-arrow {
  border-bottom-color: #303641;
}
body .tooltip.tooltip-secondary .tooltip-inner {
  background-color: #f94399;
  color: #e6e0f0;
}
body .tooltip.tooltip-secondary.top .tooltip-arrow {
  border-top-color: #f94399;
}
body .tooltip.tooltip-secondary.top-left .tooltip-arrow {
  border-top-color: #f94399;
}
body .tooltip.tooltip-secondary.top-right .tooltip-arrow {
  border-top-color: #f94399;
}
body .tooltip.tooltip-secondary.right .tooltip-arrow {
  border-right-color: #f94399;
}
body .tooltip.tooltip-secondary.left .tooltip-arrow {
  border-left-color: #f94399;
}
body .tooltip.tooltip-secondary.bottom .tooltip-arrow {
  border-bottom-color: #f94399;
}
body .tooltip.tooltip-secondary.bottom-left .tooltip-arrow {
  border-bottom-color: #f94399;
}
body .tooltip.tooltip-secondary.bottom-right .tooltip-arrow {
  border-bottom-color: #f94399;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input::-webkit-input-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input::-webkit-input-placeholder {
  color: #e6e0f0;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input:-moz-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input:-moz-placeholder {
  color: #e6e0f0;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input::-moz-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input::-moz-placeholder {
  color: #e6e0f0;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input:-ms-input-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input:-ms-input-placeholder {
  color: #e6e0f0;
}
.panel-neon {
  border-color: #303641;
}
.panel-neon > .panel-heading{
  background-color: #303641;
  color: #f0f0f0;
}
.alert-neon {
    background-color: #1F3247;
    color: #fff;
}
.alert-neon  a {
   color: #ee0;
}
