.tabFormTable {
    color:#333333;
    font-size: 12px;
}

.infoActivity{
    clear:both;
    width:100%;
    float:left;
    margin-bottom:3px;
    margin-top:3px;
    padding-bottom:2px;
    padding-top:2px;
    padding-left:2px;
    padding-right:2px;
}

.typeActivity{
    clear:both;
/*  width:30%;*/
    width:109px;
    float:right;
    margin-bottom:3px;
    margin-top:3px;
    padding-bottom:2px;
    padding-top:2px;
   color: #333333;
   direction:rtl;
}

.typeActivity p{
    color: #333333;
    font-weight: bold;
}

.detailActivity{
    width:35%;
    float:left;
    margin-top:3px;
    margin-bottom:3px;
    padding-bottom:2px;
    padding-top:2px;
    color: #333333;
}

.detailText{
    width:73%;
    float:left;
    margin-top:3px;
    margin-bottom:3px;
    padding-bottom:2px;
    padding-top:2px;
    color: #333333;
}

