#applet_grid > tbody > tr > td {
    padding: 5px 5px;
    vertical-align: top;
    width: 50%;
}

.appletwindow
{
    position: relative;
    float:left;
    margin: 10px 5px 0px 0px;
    padding: 0px 0px 10px 0px;
    width: 480px;
    height: 300px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -moz-box-shadow: 2px 2px 1px rgb(180,180,180); 
    -webkit-box-shadow: 2px 2px 1px rgb(180,180,180);
    box-shadow: 2px 2px 1px rgb(180,180,180); 
    background:url(../../../images/appletbg.png) repeat-x top #F6F6F6;
    font-size: 13px;
}

.appletwindow > .appletwindow_topbar
{
    padding: 5px 10px;
    font-family:"IRANSans-web", tahoma,arial,helvetica,sans-serif;
    font-size:13pt;
    font-weight:bold;
    color:#E35332;
    height:21px;
    cursor: move;
    /*Haamed*/
    direction:rtl;
}

.appletwindow > .appletwindow_topbar > .appletwindow_title {
    position: absolute;
    top: 0px;
    right:0px;
    font: 13px "IRANSans-web", Tahoma, Arial,Helvetica,sans-serif;
    color: #444;
    text-shadow: 1px 1px #ccc;
    padding: 5px 4px 4px 8px;
    float:left;
}


.appletwindow > .appletwindow_topbar > .appletwindow_widgets {
    padding-right:2px;
    padding-left:2px;
    float:left;
}


.appletwindow > .appletwindow_topbar > .appletwindow_widgets > a
{
    color: #443;
    font-weight: bold;
    cursor: pointer;
}

.ima{
    padding-top:0px;
}

.appletwindow > .appletwindow_content
{
    position:absolute;
    top:32px;
    left:0px;
    padding:8px 8px 8px 8px;
    width:464px;
}

/*nuevo*/
div.neo-applet {
    position: relative;
    float:left;
    margin: 10px 10px 0px 0px;
    padding: 0px 0px 10px 0px;
    width: 490px;
    height: 300px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -moz-box-shadow: 2px 2px 1px rgb(180,180,180);
    -webkit-box-shadow: 2px 2px 1px #B4B4B4;
    box-shadow: 2px 2px 1px #B4B4B4;
    background:url(../../../images/appletbg.png) repeat-x top #ddd;
}
div.neo-applet-title {
    position: absolute;
    top: 0px;
    left:0px;
    font: 13px "IRANSans-web", Tahoma, Arial,Helvetica,sans-serif;
    color: #444;
    text-shadow: 1px 1px #ccc;
    padding: 5px 4px 4px 8px;
}
div.neo-applet-reload {
    position: absolute;
    top: 6px;
    right:4px;
}
div.neo-applet-content {
    position:absolute;
    top:32px;
    left:0px;
    padding:8px 8px 8px 8px;
    width:464px;
}
div.neo-applet-tline {
    position: relative;
    width: 100%;
/*    background-color: red;*/
    overflow: hidden;
    height: 22px;
    float: right;
    direction: rtl;
}
div.neo-applet-titem {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 4px;
    width: 200px;
    white-space: nowrap;
    float: right;
}
div.neo-applet-tdesc {
    position: absolute;
    top: 0px;
    float: left;
    margin-right: 0;
    white-space: nowrap;
    left: 0;
    overflow: hidden;
}
div.neo-clearing {
    clear:both;
}
div.neo-divisor {
    position:relative;
    height:2px;
    widows:100%;
    margin:0px 0px 8px 0px;
    background: url(../../../images/applet_divisor.png) no-repeat bottom;
}
img.fullwidth {
    width:100%;
}
